/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-regular.woff2');
    font-weight: 400; 
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    /* outline: 1px solid red; */
}

body{
    max-width: 1440px;
    width: 1440px;
}

header{
    height: 132px; 
}

/* Шапка */

.TitleheadDiv{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 26px;
    margin-left: 28px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.NameheadP{
    color: #22202E;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    margin-left: 643px;
}

.SearchheadBut{
    border: none;
}

.CartheadBut{
    border: none;
    margin-left: 627px;
}

.UserheadBut{
    border: none;
    margin-left: 16px;
}

.NavheadRef{
    color: #726E8D;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    text-decoration: none;
}

.RefsheadRef{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
    margin-left: 382px;
    width: 790px;
    height: 28px;
}


/* Вторая секция */

.section2{
    height: 704px;
    width: 1440px;
}

.Contentsec2Div{
    width: 1280px;
    height: 584px;
    margin-top: 65px;
    margin-left: 80px;
    background: var(--Dark-Primary, #2A254B);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
}

.Titlesec2H2{
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 44.8px */
    letter-spacing: 1px;
}

.Textsec2Div{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 41px;
    margin-left: 60px;
    margin-top: 60px;
    width: 513px;
    height: 191px;
}

.Collsec2But{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 32px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
    background: rgba(249, 249, 249, 0.15);
    border: none;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.Textsec2P{
    color: var(--White, #FFF);
    width: 674px;
    height: 84px;
    margin-top: 150px;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    letter-spacing: 150%;
}

.RightImage{
    width: 520px;
    height: 584px;
    position: absolute;
    right: 0;
}

/* Третья секция */

.section3{
    width: 1440px;
    height: 355px;
}

.Title3secH2{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 44.8px */
    margin-top: 65px;
    margin-left: 529px;
    width: 449px;
    height: 45px;
}

.ProductCardsec3Div{
    width: 1244px;
    height: 210px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 86px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px
}

.ProductCardsec3Art{
    width: 270px;
}

.TitleCardsec3H4{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
    margin-top: 16px;
}

.TextCardsec3P{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    margin-top: 8px;
}

/* Четвертая секция */

.section4{
    width: 1440px;
    height: 761px;
}

.Contentsec4Div{
    margin-top: 80px;
    margin-left: 80px;
    width: 1320px;
}

.Titlesec4H2{
    width: 203px;
    height: 45px;
    color: #2A254B;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 44.8px */
}

.ProductCardsec4Div{
    margin-top: 26.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1280px;
}

.ProductCardsec4Art{
    width: 305px;
    height: 463px;
}

.ProductCardTextsec4Art{
    margin-top: 18px;
    width: 100%;
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
}

.TextCardsec4P{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.ViewCollsec4But{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 16px 32px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
    background: var(--Light-Grey, #F9F9F9);
    color: #2A254B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    border: none;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 34.5px;
    margin-left: 555px;
}

/* Пятая секция */

.section5{
    width: 1440px;
    height: 744px;
}

.Contentsec5Div{
    margin-top: 64px;
    margin-left: 80px;
    width: 1280px;
    height: 636px;
}

.Titlesec5H2{
    color: #2A254B;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 44.8px */
}

.ProductCardsec5Div{
    margin-top: 24.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.ProductCardsec5Art{
    height: 463px;
}

.ProductCardTextsec5Art{
    width: 100%;
    height: 64px;
    margin-top: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
}

.TextCardsec5P{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.ViewCollsec5But{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 16px 32px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
    background: var(--Light-Grey, #F9F9F9);
    color: #2A254B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    border: none;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 44px;
    margin-left: 555px;
}

/* Шестая секция */

.section6{
    width: 1440px;
    height: 481px;
    background: var(--Light-Grey, #F9F9F9);
}

.Contentsec6Div{
    width: 1273px;
    height: 364px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 80px;
    margin-top: 52px;
    margin-bottom: 65px
    ;
    padding-top: 68px;
    background: var(--White, #FFF);
}

.Titlesec6H3{
    width: 571px;
    height: 34px;
    color: var(--Dark-Primary, #2A254B);
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    margin-top: 68px;
}

.Textsec6P{
    width: 470px;
    height: 56px;
    text-align: center;
    color: var(--Dark-Primary, #2A254B);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    margin-top: 16px;
}

.SignInsec6Div{
    width: 472px;
    height: 60px;
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
}

.Emailsec6Input{
    width: 341px;
    height: 60px;
    border: none;
}
.Emailsec6Input::-webkit-input-placeholder{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    background: var(--Light-Grey, #F9F9F9);
    padding-left: 32px;
    padding-top: 17px;
}
.Emailsec6Input::-moz-placeholder{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    background: var(--Light-Grey, #F9F9F9);
    padding-left: 32px;
    padding-top: 17px;
}
.Emailsec6Input:-ms-input-placeholder{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    background: var(--Light-Grey, #F9F9F9);
    padding-left: 32px;
    padding-top: 17px;
}
.Emailsec6Input::-ms-input-placeholder{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    background: var(--Light-Grey, #F9F9F9);
    padding-left: 32px;
    padding-top: 17px;
}
.Emailsec6Input::placeholder{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    background: var(--Light-Grey, #F9F9F9);
    padding-left: 32px;
    padding-top: 17px;
}

.SignInsec6But{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 32px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
    background: var(--Dark-Primary, #2A254B);
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    border: none;
    width: 131px;
    height: 60px;
}

/* Седьмая секция */

.section7{
    width: 1440px;
    height: 603px;
}

.Contentsec7Div{
    margin-left: 84px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.Textsec7Div{
    width: 536px;
    height: 317px;
    margin-top: 72px;
}

.Titlesec7H3{
    width: 494px;
    height: 68px;
    color: #2A254B;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
}

.Textsec7P{
    width: 536px;
    height: 224px;
    color: #505977;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    margin-top: 25px;
}

.Touchsec2But{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 32px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
    margin-top: 104px;
    background: var(--Light-Grey, #F9F9F9);
    border: none;
    color: #2A254B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

/* Подвал */

footer{
    width: 1440px;
    height: 414px;
    background-color: var(--Dark-Primary, #2A254B);
}

.BasicContentfootDiv{
    height: 198px;
    width: 1275px;
    padding-left: 82px;
    padding-top: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.ListOfLinksfootDiv{
    height: 198px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 12px;
}

.ListOfLinksfootDiv:nth-child(1){
    width: 127px;
}
.ListOfLinksfootDiv:nth-child(2){
    width: 98px;
    margin-left: 90px;
}
.ListOfLinksfootDiv:nth-child(3){
    width: 120px;
    margin-left: 119px;
}

.TitleOfListfootP{
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
}

.LinkfootRef{
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

.JoinfootDiv{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 627px;
    height: 96px;
}

.TitleOfJoinfootH4{
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
}

.InputOfJoinfootDiv{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 60px;
    margin-top: 8px;
}

.JoinfootInput{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    width: 496px;
    height: 60px;
    background: rgba(255, 255, 255, 0.15);
}

.JoinfootInput::-webkit-input-placeholder{
    padding-left: 32px;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.JoinfootInput::-moz-placeholder{
    padding-left: 32px;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.JoinfootInput:-ms-input-placeholder{
    padding-left: 32px;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.JoinfootInput::-ms-input-placeholder{
    padding-left: 32px;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.JoinfootInput::placeholder{
    padding-left: 32px;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.AuthfootBut{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 32px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
    color: #2A254B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}


.OtherContentfootDiv{
    width: 1275px;
    height: 52px;
    margin-left: 80px;
    margin-top: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid #4E4D93;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
}

.CopyrightfootP{
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.SocialMedfootDiv{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 24px;
    width: 264px; 
}