div:first-child{
    position: relative;
    float: left;
}
div:nth-child(n+2){
    z-index: 2;
    position: absolute;
}

div:nth-child(2){
    top: 200px;
    left: 60px;
    width: 400px;
    height: 400px;
}

div:nth-child(3){
    top: 400px;
    left: 60px;
    width: 400px;
    height: 400px;
}

div:nth-child(4){
    top: 200px;
    left: 300px;
    width: 400px;
    height: 400px;
}

div:nth-child(5){
    top: 400px;
    left: 300px;
    width: 400px;
    height: 400px;
}

div:nth-child(6){
    top: 200px;
    left: 540px;
    width: 600px;
    height: 400px;
}

div:nth-child(7){
    top: 400px;
    left: 540px;
    width: 600px;
    height: 400px;
}

.img1{
    top: 300px;
    color: azure;
    left: 60px;
    width: 400px;
    height: 400px;
}

p{
    left: 0;
    top: 0;
    z-index: 2;
    color: blue;
    padding: 0;
    margin: 0;
    font-size: 14px;
    width: 200px;
}

p:nth-child(5){
    width: 600px;
}



img:first-child{
    position: relative;
}

img:nth-child(n+2){
    z-index: 2;
    position: absolute;
}

img:nth-child(2){
    left: 50px;
    top: 200px;
    float: right;
    margin: 10px 10px 10px 0;
}

img:nth-child(3){
    left: 400px;
    top: 240px;
    rotate: 20deg;
}

img:nth-child(4){
    left: 400px;
    top: 200px;
    rotate: -20deg;
}

img:nth-child(5){
    left: 460px;
    top: 300px;
    rotate: 20deg;
}

img:nth-child(6){
    left: 340px;
    top: 300px;
    rotate: -20deg;
}

img:nth-child(7){
    left: 50px;
    top: 400px;
    rotate: -20deg;
}