/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-regular.woff2');
    font-weight: 400; 
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}


body{
    width: 1440px;
    height: 2993px;
}


/* Шапка */

header{
    width: 1440px;
    height: 80px;
    margin-bottom: -28px;
}

.ContentheadDiv{
    width: 1280px;
    height: 28px;
    margin-left: 80px;
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.NameheadP{
    color: #22202E;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.RefsheadRef{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 382px;
    width: 790px;
    height: 28px;
    margin-left: 167px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    justify-content: space-between;
    gap: 44px;
    margin-top: 4px;
}

.NavheadRef{
    color: #726E8D;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    text-decoration: none;
}

.ButtonRefsheadDiv{
    width: 80px;
    height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 16px;
    margin-left: 193px;
    margin-top: 5px;
}


/* Вторая секция */

.section2{
    width: 1440px;
    height: 758px;
    background: var(--Light-Grey, #F9F9F9);
    margin: 0px;
}

.Contentsec2Div{
    width: 1172px;
    height: 661px;
    padding-top: 50px;
    padding-left: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.AllInfosec2Div{
    width: 500px;
    height: 604px;
    margin-top: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.Titlesec2Div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 84px;
    width: 176px;
}

.line1{
    margin-top: 36px;
    width: 518px;
    border-bottom: 1px solid #EBE8F4;;
}

.Titlesec2H3{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
}

.ProductDescsec2Div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 498px;
    height: 114px;
    margin-top: 24px;
}

.Textsec2P{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    height: 66px;
    width: 498px;
}

.Dimensionssec2Div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 324px;
    height: 129px;
    margin-top: 22px;
}

.AllSizessec2Div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.Sizesec2Div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 52px;
    height: 71px;
}

.Sizetextsec2P{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.Quantititysec2Div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 122px;
    height: 98px;
    margin-top: 9px;
}

.CountOfProdsec2Div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 122px;
    height: 52px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: var(--White, #FFF);
}

.CountOfProdsec2P{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    margin-left: 30px;
}

.Minussec2But{
    color: var(--Border-Grey, #EBE8F4);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    border: none; 
    outline: none;
    background-color: white;
    margin-left: 16px;
}

.Plussec2But{
    margin-left: 30px;
    color: var(--Border-Grey, #EBE8F4);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    border: none; 
    outline: none;
    background-color: white;
}

.Optionssec2Div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 392px;
    height: 60px;
    margin-top: 28px;
}

.AddtoCartsec2Div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    background: var(--Dark-Primary, #2A254B);
}

.AddtoCartsec2P{
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.SavetoFavssec2Div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    background: var(--White, #FFF);
}

.SavetoFavssec2P{
    color: #2A254B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}


/* Третья секция */

.section3{
    width: 1440px;
    height: 744px;
}

.Contentsec3Div{
    margin-top: 64px;
    margin-left: 80px;
    width: 1280px;
    height: 636px;
}

.Titlesec3H3{
    color: #2A254B;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 44.8px */
}

.ProductCardsec3Div{
    margin-top: 24.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.ProductCardsec3Art{
    height: 463px;
}

.ProductCardTextsec3Art{
    width: 100%;
    height: 64px;
    margin-top: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
}

.TextCardsec3P{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.SeeCollsec3But{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 16px 32px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
    background: var(--Light-Grey, #F9F9F9);
    color: #2A254B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    border: none;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 44px;
    margin-left: 555px;
}


/* Четвертая секция */

.section4{
    width: 1440px;
    height: 476px;
}

.Contentsec4Div{
    margin-top: 20px;
    margin-left: 80px;
}

.Titlesec4H2{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 44.8px */
    margin-left: 449px;
    width: 449px;
    height: 45px;
}

.ProductCardsec4Div{
    width: 1244px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 25px;
    gap: 22px;
}

.ProductCardsec4Art{
    width: 209px;
    height: 160px;
    padding: 48px 48px;
    background-color: var(--Light-Grey, #F9F9F9);
}
.ProductCardsec4Art:nth-child(2){
    height: 188px;
}
.ProductCardsec4Art:nth-child(4){
    height: 188px;
}

.TitleCardsec4H4{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
    margin-top: 16px;
}

.TextCardsec4P{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    margin-top: 8px;
}


/* Пятая секция */

.section5{
    height: 521px;
    width: 1440px;
    margin-top: -80px;
}

.Contentsec5Div{
    height: 521px;
    width: 1264px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.Jointitlesec5H3{
    color: var(--Dark-Primary, #2A254B);
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
}

.Textsec5Div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 71px;
    width: 472px;
    height: 384px;
}

.Textsec5P{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    margin-top: 26px;
    width: 100%;
}

.Joinsec5Div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 472px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 208px;
}

.TitleOfJoinsec5H4{
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
}

.InputOfJoinsec5Div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 60px;
    margin-top: 8px;
}

.Joinsec5Input{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    width: 341px;
    height: 60px;
    background: #F9F9F9;
}

.Joinsec5Input::-webkit-input-placeholder{
    padding-left: 32px;
    color: #2A254B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.Joinsec5Input::-moz-placeholder{
    padding-left: 32px;
    color: #2A254B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.Joinsec5Input:-ms-input-placeholder{
    padding-left: 32px;
    color: #2A254B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.Joinsec5Input::-ms-input-placeholder{
    padding-left: 32px;
    color: #2A254B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.Joinsec5Input::placeholder{
    padding-left: 32px;
    color: #2A254B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.Authsec5But{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 32px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    background: var(--Dark-Primary, #2A254B);
}


/* Подвал */

footer{
    width: 1440px;
    height: 414px;
    background-color: var(--Dark-Primary, #2A254B);
}

.BasicContentfootDiv{
    height: 198px;
    width: 1275px;
    padding-left: 82px;
    padding-top: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.ListOfLinksfootDiv{
    height: 198px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 12px;
}

.ListOfLinksfootDiv:nth-child(1){
    width: 127px;
}
.ListOfLinksfootDiv:nth-child(2){
    width: 98px;
    margin-left: 90px;
}
.ListOfLinksfootDiv:nth-child(3){
    width: 120px;
    margin-left: 119px;
}

.TitleOfListfootP{
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
}

.LinkfootRef{
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

.JoinfootDiv{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 627px;
    height: 96px;
}

.TitleOfJoinfootH4{
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
}

.InputOfJoinfootDiv{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 60px;
    margin-top: 8px;
}

.JoinfootInput{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    width: 496px;
    height: 60px;
    background: rgba(255, 255, 255, 0.15);
}

.JoinfootInput::-webkit-input-placeholder{
    padding-left: 32px;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.JoinfootInput::-moz-placeholder{
    padding-left: 32px;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.JoinfootInput:-ms-input-placeholder{
    padding-left: 32px;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.JoinfootInput::-ms-input-placeholder{
    padding-left: 32px;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.JoinfootInput::placeholder{
    padding-left: 32px;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.AuthfootBut{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 32px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
    color: #2A254B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}


.OtherContentfootDiv{
    width: 1275px;
    height: 52px;
    margin-left: 80px;
    margin-top: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid #4E4D93;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
}

.CopyrightfootP{
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.SocialMedfootDiv{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 24px;
    width: 264px; 
}