
.wildlife-title{
    font-size: 44px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Arial', sans-serif;
}

.wildlife-list{
    list-style:none; 
    margin: 0; 
    padding: 0;
    font-size: 24px;
    font-style: italic;
    font-family: 'Arial', sans-serif;
    width: 400px;
    border: 2px solid black;
    margin: 7px;
    padding: 7px;
}

.wildlife-description{
    font-size: 30px;
    font-weight: 500;
    font-family: 'Arial', sans-serif;
}

#li1{
    color: blue;
    background-image: url('https://media.izi.travel/b01d3830-4c8c-481e-9df9-b9bd0d5a69f1/3b0962e9-bc5c-41b0-be8a-f5ad17cbfd14_800x600.jpg');
    background-size: cover;
    padding-bottom: 100px;
}

#li2{
    color: orange;
    background-image: url('https://rgo.ru/upload/s34web.imageadapter/3391b95c081666cc16ceb5b195d7ccf4/oleg_bogdanov_amurskiy_tigr_592345.jpg');
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 60px;
}

#li3{
    color: red;
    background-image: url('https://b1.vpoxod.ru/ckeditor/30/33/71/264457.jpg');
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 60px;
}

#li4{
    color: green;
    background-image: url('https://www.moscowzoo.ru/upload/iblock/3ac/3ac31fef9bb5af914d2f7088fe4ae46d.jpg');
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 60px;
}

#li5{
    color: goldenrod;
    background-image: url('https://kazzoobotsad.ru/upload/iblock/6bf/0gknfo2hf0tm70fd2cs61oyji2gxf1kf.JPG');
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 60px;
}

#li6{
    color: yellow;
    background-image: url('https://i.bigenc.ru/resizer/resize?sign=prOL2gobcwnw9R8xQPWFQw&filename=vault/b18fa19e7e42258112e5251b1201e806.webp&width=1200');
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 60px;
}

.wildlife-image{
    background-image: url('https://www.karusel-tv.ru/media/suit/900x506/media/video_cover/2018/01/1516984028429239_1.png');
    background-repeat: inherit;
    margin: 0;
    padding: 0;
    background-size: cover;
}